<a href="https://colab.research.google.com/github/FarahYusri12/Warfarin_Dosing_Prediction-Model_Comparison/blob/main/Preprocessed.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Modify warfarin_gen_clinic.csv into new dataset Preprocessed_data.csv

In [1]:
import pandas as pd
import numpy as np

df=pd.read_csv('Warfarin_gen_clinic.csv')
print(df.head())
print("\n" + "="*100 + "\n")
print(df.info())
print("\n" + "="*100 + "\n")
print(df ['Age (years)']. unique())
print ("\n" + "="*100 + "\n")
print(df ['CYP2C9']. unique())
print("\n" + "="*100 + "\n")
print(df ['VKORC1 (rs9923231; C/T)'].unique())

            ID Age (years)  Gender  Weight (kg)  Height (cm)  Dose (mg)  \
0  PA135312261     60 - 69    Male        115.7       193.04       49.0
1  PA135312262     50 - 59  Female        144.2       176.53       42.0
2  PA135312263     40 - 49  Female         77.1       162.56       53.0
3  PA135312264     60 - 69    Male         90.7       182.24       28.0
4  PA135312265     50 - 59    Male         72.6       167.64       42.0

  CYP2C9 VKORC1 (rs9923231; C/T)
0  *1/*1                     A/G
1  *1/*1                     A/A
2  *1/*1                     G/G
3  *1/*1                     A/G
4  *1/*3                     A/G

====================================================================================================

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6161 entries, 0 to 6160
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       5700 non-null   object
 1   Age (years)              5658 non-null   object
 2   Gender                   5696 non-null   object
 3   Weight (kg)              5413 non-null   float64
 4   Height (cm)              4554 non-null   float64
 5   Dose (mg)                5528 non-null   float64
 6   CYP2C9                   5567 non-null   object
 7   VKORC1 (rs9923231; C/T)  4046 non-null   object
dtypes: float64(3), object(5)
memory usage: 385.2+ KB
None

====================================================================================================

['60 - 69' '50 - 59' '40 - 49' '70 - 79' '30 - 39' '80 - 89' '90+'
 '20 - 29' '10 - 19' nan]

====================================================================================================

['*1/*1' '*1/*3' '*1/*2' '*2/*2' '*2/*3' '*3/*3' nan '*1/*5' '*1/*13'
 '*1/*14' '*1/*11' '*1/*6']

====================================================================================================

['A/G' 'A/A' 'G/G' nan]

In [2]:
# Removes duplicates and missing value

df.dropna(inplace=True)
df.drop_duplicates(inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3429 entries, 0 to 5410
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       3429 non-null   object
 1   Age (years)              3429 non-null   object
 2   Gender                   3429 non-null   object
 3   Weight (kg)              3429 non-null   float64
 4   Height (cm)              3429 non-null   float64
 5   Dose (mg)                3429 non-null   float64
 6   CYP2C9                   3429 non-null   object
 7   VKORC1 (rs9923231; C/T)  3429 non-null   object
dtypes: float64(3), object(5)
memory usage: 241.1+ KB

In [3]:
# Encode and make a new column for gender, CYP2C9, and VKORC1

df['Gender_code']= df['Gender']. map({"Male":1, "Female":0})

CYP_map={"*1/*1":0, "*1/*2":1, "*1/*3":1, "*2/*2":2, "*2/*3":2, "*3/*3":2}
df['CYP2C9_code']= df['CYP2C9'].map(CYP_map)

VKO_map= {"G/G":0, "A/G":1, "A/A":2}
df['VKORC1_code']= df['VKORC1 (rs9923231; C/T)']. map(VKO_map)

# Change age format
def Age_midpoint(Age_years):
  Age_years=str(Age_years). strip() # strip()= remove space, str()=change to string

  if "-" in Age_years:
    low, high = Age_years.split("-") # exp; (30-39)
    return (int(low) + int(high))/2
  elif "+" in Age_years:
    base=int (Age_years.replace("+", "")) # exp: 90+
    return base
df['Age']= df['Age (years)'].apply(Age_midpoint)

print(df.head())
print("\n" + "="*100 + "\n")
print(df.info())

            ID Age (years)  Gender  Weight (kg)  Height (cm)  Dose (mg)  \
0  PA135312261     60 - 69    Male        115.7       193.04       49.0
1  PA135312262     50 - 59  Female        144.2       176.53       42.0
2  PA135312263     40 - 49  Female         77.1       162.56       53.0
3  PA135312264     60 - 69    Male         90.7       182.24       28.0
4  PA135312265     50 - 59    Male         72.6       167.64       42.0

  CYP2C9 VKORC1 (rs9923231; C/T)  Gender_code  CYP2C9_code  VKORC1_code   Age
0  *1/*1                     A/G            1          0.0            1  64.5
1  *1/*1                     A/A            0          0.0            2  54.5
2  *1/*1                     G/G            0          0.0            0  44.5
3  *1/*1                     A/G            1          0.0            1  64.5
4  *1/*3                     A/G            1          1.0            1  54.5

====================================================================================================

<class 'pandas.core.frame.DataFrame'>
Index: 3429 entries, 0 to 5410
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       3429 non-null   object
 1   Age (years)              3429 non-null   object
 2   Gender                   3429 non-null   object
 3   Weight (kg)              3429 non-null   float64
 4   Height (cm)              3429 non-null   float64
 5   Dose (mg)                3429 non-null   float64
 6   CYP2C9                   3429 non-null   object
 7   VKORC1 (rs9923231; C/T)  3429 non-null   object
 8   Gender_code              3429 non-null   int64
 9   CYP2C9_code              3419 non-null   float64
 10  VKORC1_code              3429 non-null   int64
 11  Age                      3429 non-null   float64
dtypes: float64(5), int64(2), object(5)
memory usage: 348.3+ KB
None

In [4]:
# Remove missing value
df.dropna(inplace=True)
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 3419 entries, 0 to 5410
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       3419 non-null   object
 1   Age (years)              3419 non-null   object
 2   Gender                   3419 non-null   object
 3   Weight (kg)              3419 non-null   float64
 4   Height (cm)              3419 non-null   float64
 5   Dose (mg)                3419 non-null   float64
 6   CYP2C9                   3419 non-null   object
 7   VKORC1 (rs9923231; C/T)  3419 non-null   object
 8   Gender_code              3419 non-null   int64
 9   CYP2C9_code              3419 non-null   float64
 10  VKORC1_code              3419 non-null   int64
 11  Age                      3419 non-null   float64
dtypes: float64(5), int64(2), object(5)
memory usage: 347.2+ KB
None

In [5]:
#There is something wrong with the datatypes for CYP2C9_code
# It should be int not float
# Use unique parameter to check value in CYP2C9_code column
print(df['CYP2C9_code'].unique())

[0. 1. 2.]

In [6]:
# Change format from float to int
df['CYP2C9_code']= df['CYP2C9_code'].astype(int)
print(df.info())
print(df['CYP2C9_code']. unique())

<class 'pandas.core.frame.DataFrame'>
Index: 3419 entries, 0 to 5410
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       3419 non-null   object
 1   Age (years)              3419 non-null   object
 2   Gender                   3419 non-null   object
 3   Weight (kg)              3419 non-null   float64
 4   Height (cm)              3419 non-null   float64
 5   Dose (mg)                3419 non-null   float64
 6   CYP2C9                   3419 non-null   object
 7   VKORC1 (rs9923231; C/T)  3419 non-null   object
 8   Gender_code              3419 non-null   int64
 9   CYP2C9_code              3419 non-null   int64
 10  VKORC1_code              3419 non-null   int64
 11  Age                      3419 non-null   float64
dtypes: float64(4), int64(3), object(5)
memory usage: 347.2+ KB
None
[0 1 2]

In [7]:
file_name_csv= 'Preprocessed_data.csv'
df.to_csv(file_name_csv, index=False)
print("Dataset has been exported")

Dataset has been exported